<p><strong>title: </strong><%= @weapon.title %></p>
<p><strong>description: </strong><%= @weapon.description %></p>
<p><strong>power base: </strong><%= @weapon.power_base %></p>
<p><strong>level: </strong><%= @weapon.level %></p>
<p><strong>power step: </strong><%= @weapon.power_step %></p>
<p><strong>current power: </strong><%= @weapon.current_power %></p>
<br>
<hr>
<br>
